Sources/packages/
Sources/MC01BlogAndPost/bin/
Sources/MC01BlogAndPost/obj/
Sources/.vs/
Sources/MC01ApiBlogAndPost/bin/
Sources/MC01ApiBlogAndPost/obj/
Sources/_ReSharper.Caches/
Sources/MC01ApiProduct/obj/
Sources/MC01ApiProduct/bin/
